<script type="text/javascript">
function lis()
{
<%=require 'redis'%>
<%=redis = Redis.new(:host => 'localhost',:port => '6379')%>
<%=require 'securerandom'%>
<%=String uni=SecureRandom.hex(11)%>
<%=redis.lpush('process',uni);%>
}
</script>
<script type="text/javascript">
function delet()
{
<%=require 'redis'%>
<%=redis = Redis.new(:host => 'localhost',:port => '6379')%>

<%=redis.blpop('process','1');%>//delete
}
</script>
<script type="text/javascript">
function proc()
{
<%=require 'redis'%>
<%=redis = Redis.new(:host => 'localhost',:port => '6379')%>
<%=redis.lpop('process');%>//process
}
</script>
<script type="text/javascript">
function delall()
{
<%=require 'redis'%>
<%=redis = Redis.new(:host => 'localhost',:port => '6379')%>

<%=redis.flushall;%>//delete all
}
</script>
<script type="text/javascript">
function queue()
{
<%=require 'redis'%>
<%=redis = Redis.new(:host => 'localhost',:port => '6379')%>
<%=red=redis.llen('process');%>//no of processes in queue
}
</script>



<div style="background : silver">
<div class="container-fluid text-center"> 
  <header class="jumbotron" style="background-color: lightblue;"><h1>Dashboard</h1></header>
  </div>
<div class="container-fluid" style="background-color: orange;" >
<div class="row">
<div class="col-lg-8" >
<button type="button" class="btn btn-primary btn-lg" value="lst" onclick="lis();">LIST </button> 
 
<button type="button" class="btn btn-primary btn-lg" value="" onclick="delet();" >DELETE</button>
<button type="button" class="btn btn-primary btn-lg" value="proc"onclick="proc();">PROCESS </button>
<button type="button" class="btn btn-primary btn-lg" value="dela" onclick="delall();" >DELETE ALL</button>
<button type="button" class="btn btn-primary btn-lg" value="proa" onclick="queue()" >process_in_queue</button>
</div>
</div>
</div>
<br>
<div class="container-fluid" >
<div class="row" style="background-color:red;">
<div class="col-lg-12" >
<div id="table-responsive">
<table class="table table-bordered table-hover">
<!-- <caption>Process in queue</caption> -->
<thead>
<tr>
<th>#</th>
<th>sr. no </th>
<th>Processes</th>
</tr>
</thead>
<tbody>
<tr>
<td><input type="checkbox" value=""></td>
<td><strong>1</ strong></td>
<td><strong>fhsfhkhkdhk</strong></td>
</tr>

</tbody>

</table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
 
